<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projet 1-35</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
      .texteGras {
        font-weight: bold;
      }
      .texteSouligne {
        text-decoration: underline;
      }
      .texteItalique {
        font-style: italic;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div v-for="(style, index) in styles">
        <input type="checkbox" v-model="style.status" />
        <label>{{style.name}}</label>
      </div>
      <div
        :class="{texteGras: styles[0].status, texteSouligne: styles[1].status, texteItalique: styles[2].status,}"
      >
        Un peu de texte dans la div
      </div>
    </div>
    <script>
      const app = Vue.createApp({
        data() {
          return {
            styles: [
              { name: "gras", status: false },
              { name: "souligné", status: false },
              { name: "italique", status: false },
            ],
          };
        },
      });
      app.mount("#app");
    </script>
  </body>
</html>
